<mt:setvarblock name="page_title">ASTest</mt:setvarblock>

<mt:setvarblock name="html_head">
<style type="text/css">
textarea { width: 100%; height: 72ex; }
</style>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<textarea><mt:var name="astest" escape="html"></textarea>

<mt:include name="include/footer.tmpl">

