<mtapp:setting
    id="rebuild_for_action_stream_events"
    label="<__trans phrase="Rebuild Indexes">"
    hint="<__trans phrase="If selected, this blog's indexes will be rebuilt when new action stream events are discovered.">"
    show_hint="1">
    <label><input type="checkbox" name="rebuild_for_action_stream_events" id="rebuild_for_action_stream_events" value="1"<mt:if name="rebuild_for_action_stream_events"> checked="checked"</mt:if> /> <__trans phrase="Enable rebuilding"></label>
</mtapp:setting>
